body
{
    background-color: #ededed;
}

header
{
    background-color: black;
    color: #ededed;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 10px;
}

#titulo
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    /*letter-spacing es para ir dejando espacio entre letras*/
    letter-spacing: 5px;
}

#titulo1
{

    letter-spacing: normal;
}

#parrafo
{
    color: #ededed;
    background: black;
    border-radius: 0 0 7em 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
    width: 25em;
    
}

#tabla1
{
    background: rgb(88, 88, 88);

    /*border collapse es para eliminar el espacio entre bordes*/
    border-collapse:collapse;
    width: 100%;
    height: 100%;
}

#fuente2
{
    background: rgb(88, 88, 88);

    /*esto es para la posicion de la imagen*/
    float: right;

    /*Esto es para que la imagen se encoja
    no funciona muy bien por ahora jsjs*/
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 375px;

    /*border-radius es para hacer circulares las
    esquinas*/
    border-radius: 20px;

    /*padding para dejar espacio*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;

    /*overflow es para ocultar en caso de superposicion*/
    overflow: hidden;
}

#guate
{
    background: rgb(88, 88, 88);
    float: right;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 375px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 10px;
}

#bordes table
{
    border-radius: 10px;
}

.tabla 
{
    padding-top: 10px;
    border-spacing: 100px 0px;
    min-width:100%;

    /*su pocicion sera respecto al punto en html*/
	position: relative;
	margin-left:auto; 
    margin-right:auto; 
    margin-top:auto;
	left:0; right:0; top:auto;
}

.tabla #titulos
{
    width: 25em;
    border-radius: 10px;
    background:black;
    color: #ededed;
}

.tabla #creditos
{
    border-radius: 10px;
    background:black;
    color: #ededed;
    text-align: center;
}

.tabla #fuente
{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 375px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.tabla #margen
{
    /*overflow es para ocultar en caso de superposicion*/
    overflow: hidden;
}
