/*@font-face es para importar una fuente*/
body
{
    background-color: #ededed;
}
header
{
    background-color: black;
    color: #ededed;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-radius: 10px;
}
#titulo
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
#titulo1
{
    letter-spacing: normal;
}
td
{
    background: black;
    color: #ededed;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#guate
{
    float: right;
    border-radius: 5px;
    clear: both;
}